.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Chiều cao bằng với chiều cao viewport */
  background-color: #F7F8FA;
}
.App{
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 4px;
  background-color: #ffff;

}